<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="column is-half">
    {% for post in meets %}
    <div class="box">
        {{ post.body }}<br>
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <span class="is-small has-text-grey-light">
                        ({{ post.pub_date }})
                    </span>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="{% url 'meetter:profile_detail' post.creator_user.profile.id %}">
                    <span class="is-small has-text-primary">
                        @{{ post.creator_user.username|lower }}
                    </span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    {% endfor %}
</div>

<div class="column is-offset-1">
    <div class="block">
        <form method="post">
            {% csrf_token %}
            {{ MeetForm.as_p }}
            <button class="button is-success is-fullwidth is-medium mt-5" type="submit">
                Post
            </button>
        </form>
    </div>
</div>

{% endblock content %}
</body>
</html>